{% extends 'Student/index_student.html' %}
{% block student %}

    <section class="become_a_instructor">
        <div class="container">
            <div class="row">
                <div class="col-sm-10 col-md-8 col-lg-8">
                    <header class="header_inner become_a_teacher">
                        <div class="intro_wrapper">
                            <div class="container">
                                <div class="row">
                                    <div class="col-sm-12 col-md-8 col-lg-8">
                                        <div class="intro_text">
                                            <h1>Change Password</h1>
                                            <div class="pages_links">
                                                <a href="/student_home" title="">Home</a>
                                                <a href="#" title="" class="active">Change Password</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </header>
                </div>
                <div class="col-sm-10 col-md-4 col-lg-4 mt-4">
                    <div class="apply_instructor">
                        <div class="form_title">
                            <h3>Change Your Password</h3>
                        </div>
                        <form action="" method="post">
                            {% csrf_token %}
                            <div class="row">
                                <div class="col-12 col-lg-12 col-md-12 col-lg-12">
                                    <div class="form-group">
                                        <label for="old_password" class="control-label">Old Password</label>
                                        <input type="password" name="old_password" id="old_password" placeholder="Enter Your Old Password" required/>
                                    </div>
                                </div>
                                <div class="col-12 col-lg-12 col-md-12 col-lg-12">
                                    <div class="form-group">
                                        <label for="new_password" class="control-label">New Password</label>
                                        <input type="password" name="new_password" id="new_password" placeholder="Enter Your New Password" required/>
                                    </div>
                                </div>
                                <div class="col-12 col-lg-12 col-md-12 col-lg-12">
                                    <div class="form-group">
                                        <label for="confirm_password" class="control-label">Confirm Password</label>
                                        <input type="password" name="confirm_password" id="confirm_password" placeholder="Enter Your New Password Again" required/>
                                    </div>
                                </div>
                                <div class="col-12 col-lg-12 col-md-12 col-lg-12">
                                    <button type="submit" class="btn btn-default submit_btn">Change Password</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </section>

{% endblock %}
