{% extends 'Student/index_student.html' %}
{% block student %}

    <header class="header_inner courses_page">
        <div class="intro_wrapper">
            <div class="container">
                <div class="row">
                    <div class="col-sm-12 col-md-8 col-lg-8">
                        <div class="intro_text">
                            <h1>Attendance</h1>
                            <div class="pages_links">
                                <a href="/admin_home" title="">Home</a>
                                <a href="#" title="" class="active">View Attendance</a>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </header>
    <section class="main-content">
        <div class="container">
            <table class="table">
                <thead>
                <tr>
                    <th scope="col">Subject</th>
                    <th scope="col">Semester</th>
                    <th scope="col">Teacher</th>
                    <th scope="col">Attendance Date</th>
                    <th scope="col">Status</th>
                </tr>
                </thead>
                <tbody>
                {% for attendances in attendance %}
                    <tr>
                        <td>{{ attendances.subject_attendance_id.subject_id.subject_name }}</td>
                        <td>{{ attendances.subject_attendance_id.subject_id.semester }}</td>
                        <td>{{ attendances.subject_attendance_id.subject_id.staff_id.staff_name }}</td>
                        <td>{{ attendances.subject_attendance_id.attendance_date }}</td>
                        <td>
                            {% if attendances.attendance_status == 'present' %}
                                <span class="active-circle bg-success"></span> {{ attendances.attendance_status }}
                            {% elif attendances.attendance_status == 'absent' %}
                                <span class="active-circle bg-danger"></span> {{ attendances.attendance_status }}
                            {% endif %}
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </section>
{% endblock %}
