{% extends 'Staff/index_staff.html' %}
{% block staff %}

    <header class="header_inner courses_page">
        <div class="intro_wrapper">
            <div class="container">
                <div class="row">
                    <div class="col-sm-12 col-md-8 col-lg-8">
                        <div class="intro_text">
                            <h1>Subject Allocated</h1>
                            <div class="pages_links">
                                <a href="/staff_home" title="">Home</a>
                                <a href="#" title="" class="active">Subject Allocated</a>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </header>
    <section class="main-content">
        <div class="container">
            <form action="" method="get">
            <table class="table">
                <thead>
                <tr>
                    <th scope="col">Subject Name</th>
                <th scope="col">Course Name</th>
                </tr>
                </thead>
                <tbody>
                            {% for subjects in subject %}
                    <tr>
                        <td>{{ subjects.subject_name }}</td>
                        <td>{{ subjects.course_id.course_name }}</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </section>

{% endblock %}
