{% extends 'Admin/index_admin.html' %}
{% block admin %}

    <section class="become_a_instructor">
        <div class="container">
            <div class="row">
                <div class="col-sm-10 col-md-8 col-lg-8">
                    <header class="header_inner become_a_teacher">
                        <div class="intro_wrapper">
                            <div class="container">
                                <div class="row">
                                    <div class="col-sm-12 col-md-8 col-lg-8">
                                        <div class="intro_text">
                                            <h1>Edit Course</h1>
                                            <div class="pages_links">
                                                <a href="/admin_home" title="">Home</a>
                                                <a href="#" title="" class="active">Edit Course</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </header>
                </div>
                <div class="col-sm-10 col-md-4 col-lg-4">
                    <div class="apply_instructor">
                        <div class="form_title">
                            <h3>Enter Course Details</h3>
                        </div>
                        <form action="" method="post">
                            {% csrf_token %}
                            <div class="row">
                                <div class="col-12 col-lg-12 col-md-12 col-lg-12">
                                    <div class="form-group">
                                        <label class="control-label">Course Name</label>
                                        <input type="text" name="course_name" class="form-control"
                                               placeholder="BSc Computer Science" value="{{ course.course_name }}">
                                    </div>
                                </div>
                                <div class="col-12 col-lg-12 col-md-12 col-lg-12">
                                    <button type="submit" class="btn btn-default submit_btn">Update</button>
                                </div>

                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </section>

{% endblock %}