{% extends 'Admin/index_admin.html' %}
{% block admin %}
    <header class="header_inner courses_page">
        <div class="intro_wrapper">
            <div class="container">
                <div class="row">
                    <div class="col-sm-12 col-md-8 col-lg-8">
                        <div class="intro_text">
                            <h1>Staffs</h1>
                            <div class="pages_links">
                                <a href="/admin_home" title="">Home</a>
                                <a href="#" title="" class="active">View Staff</a>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </header>
    <section class="popular_courses" id="popular_courses_page">
        <div class="container">
            <div class="row">
                {% for staffs in staff %}
                    <div class="col-12 col-sm-6 col-md-6 col-lg-4">
                        <div class="single-courses">
                            <div class="courses_banner_wrapper">
                                <div class="courses_banner"><a href="#"><img src="{{ staffs.photo }}" alt="Staff Photo"
                                                                             class="img-fluid"></a></div>
                                <div class="purchase_price">
                                    <a href="#" class="read_more-btn">{{ forloop.counter }}</a>
                                </div>
                            </div>
                            <div class="courses_info_wrapper">
                                <div class="courses_title">
                                    <h3>{{ staffs.staff_name }}</h3>
                                    <div class="teachers_name">{{ staffs.gender }}</div>
                                </div>
                                <div class="courses_info">
                                    <ul class="list-unstyled">
                                        <li><i class="fas fa-envelope"></i>{{ staffs.email }}</li>
                                        <li><i class="fas fa-phone"></i>{{ staffs.phone_number }}</li>
                                    </ul>
                                    <div>
                                        <a class="cart_btn" href="/update_staff/{{ staffs.id }}">Edit</a>
                                        <a class="cart_btn bg-danger"
                                           href="/remove_staff/{{ staffs.staff_id_id }}">Remove</a>
                                    </div>
                                </div>
                            </div>
                        </div><!-- Ends: .single courses -->
                    </div><!-- Ends: . -->
                {% endfor %}
            </div>
        </div>
    </section>

{% endblock %}
