{% extends 'Admin/index_admin.html' %}
{% block admin %}

    <header class="header_inner courses_page">
        <div class="intro_wrapper">
            <div class="container">
                <div class="row">
                    <div class="col-sm-12 col-md-8 col-lg-8">
                        <div class="intro_text">
                            <h1>Courses</h1>
                            <div class="pages_links">
                                <a href="#" title="">Home</a>
                                <a href="#" title="" class="active">View Course</a>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </header>
    <section class="popular_courses" id="popular_courses_page">
        <div class="container">
            <div class="row">
                {% for courses in course %}
                    <div class="col-12 col-sm-6 col-md-6 col-lg-4">
                        <div class="single-courses">
                            <div class="courses_banner_wrapper float-start">
                                <div class="purchase_price">
                                    <a href="#" class="read_more-btn">{{ forloop.counter }}</a>
                                </div>
                            </div>
                            <div class="courses_info_wrapper">
                                <div class="courses_title">
                                    <h3>{{ courses.course_name }}</h3>
                                </div>
                                <div class="courses_info">
                                    <div>
                                        <a class="cart_btn" href="/update_course/{{ courses.id }}">Edit</a>
                                        <a class="cart_btn bg-danger"
                                           href="/remove_course/{{ courses.id }}">Remove</a>
                                    </div>
                                </div>
                            </div>
                        </div><!-- Ends: .single courses -->
                    </div><!-- Ends: . -->
                {% endfor %}
            </div>
        </div>
    </section>

{% endblock %}
