{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'bootstrap/css/bootstrap.min.css' %}"/>

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <title>Login</title>
</head>

<body>
{% for message in messages %}

    <div id="alert-msg" class="m-0 alert {{ message.tags }} alert-success alert-dismissible fade show" role="alert">
        <strong class="d-flex flex-row justify-content-center">{{ message }}</strong>
    </div>

{% endfor %}

<h1>Login</h1>
<form action="" method="post">
    {% csrf_token %}
    <table width="500" border="1">
        <tr>
            <th scope="row">Username</th>
            <td><input type="text" name="username" id="username"/></td>
        </tr>
        <tr>
            <th scope="row">Password</th>
            <td><input type="password" name="password" id="password"/></td>
        </tr>
        <tr>
            <th colspan="2" scope="row"><input type="submit" name="login" id="login" value="Login"/></th>
        </tr>
    </table>

</form>
<script type="text/javascript">
    const message_ele = document.getElementById("alert-msg");
    setTimeout(function () {
        message_ele.style.display = "none";
    }, 2000);
</script>
</body>
</html>
